<h2>Users info</h2>
<%= form_with model: @user do |f| %>
 <p>Name</p>
 <%= f.text_field :title %>
 <p>Image</p>
 <%= f.file_field :image, accept: "image/*" %>
 <p>Introduction</p>
 <%= f.text_area :body %>
 <p><%= f.submit "Update User", class:"btn btn-secondary" %></p>
<% end %>

