<h2>Editing Book</h2>
 <%= form_with model: @user do |f| %>
  <p>Title</p>
   <%= f.text_field :title %>
  <p>Opinion<p>
   <%= f.text_area :opinion %>
  <p><%= f.submit "Update Book", class:"btn btn-success" %></p>
 <% end %>

<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", books_path %>