 <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
   <div class="col-md-3">
   <%= render 'books/list', books:@books %>
   </div>
   <div class="offset-md-1">

   </div>
  <div class="col-md-8">
   <h2>Books</h2>
    <table>
     <tr>
      <th></th>
      <th><p>Title</p></th>
      <th><p>Opinion</p></th>
     </tr>
     <tr>
      <% @books.each do |book| %>
      <td>
       <% if current_user.profile_image.attached? %>
         <%= link_to user_path(book.user_id) do %>
          <%= image_tag @book.user.get_profile_image(105,105) %>
         <% end %>
       <% else %>
         <%= link_to user_path(book.user_id) do %>
          <%= image_tag 'no_image', size: "105x105" %>
         <% end %>
       <% end %>
      </td>
      <td>
       <span><%= link_to book.title, book_path(book.id) %></span>
      </td>
      <td>
       <span><%= book.body %></span>
      </td>
     </tr>
      <% end %>
    </table>
  </div>
 </div>
</div>