
<div class="container">

 <div class="row">
  <div class="col-md-3">
   <%= render 'books/list', book:@books %>
  </div>
  <div class="offset-md-1">
  </div>
  <div class= "col-md-8">
   <h2>Book detail</h2>
   <table class= "table">
    <tr>
     <td>
      <% if current_user.profile_image.attached? %>
       <%= link_to user_path(@books.user_id) do %>
        <%= image_tag @books.user.get_profile_image(105,105) %>
       <% end %>
      <% else %>
       <%= link_to user_path(@books.user_id) do %>
        <%= image_tag 'no_image', size: "105x105" %>
       <% end %>
      <% end %>
      <br><%= link_to @books.user.name, user_path(@books.user_id) %>
     </td>
     <td><p><%= @books.title %></p></td>
     <td><p><%= @books.body %></p></td>
     <td><% if @books.user == current_user %>
        <%= link_to "Edit", edit_book_path, class:"btn btn-success" %>
       <% end %>
     </td>
     <td><% if @books.user == current_user %>
       <%= link_to "Destroy", book_path, method: :delete, class:"btn btn-danger" %>
      <% end %>
     </td>
    </tr>
   </table>
  </div>
 </div>
</div>